@import url(https://fonts.googleapis.com/css?family=Dosis);


body {
  	background: #c0dec5;
}

#portada {
	background-image: url("file:///T:/GitHub/lnoain.github.io/unit_1/images/cro-portada-dibujo.jpg");
	background-size: cover;
  	margin: 0em;
  	padding: 3em 3em 3em 3em;
  	color: white;
  	text-align: center; 
  	height: 360px;
}

#portada p {
	background: rgba(15,37,43,0.4);
	font-family: 'Dosis', sans-serif;
	font-size: 22px;
	margin: none;
	padding: 1.5em 1.5em;
	position: center;
	font-size: 22px;

}

#portada span {
		opacity: 1;
}

#button {
		font-family: 'Dosis', sans-serif;
		font-size: 18px; 
		text-align: center; 
		background-color:#354d89; 
		color:#FFFFFF; 
		text-decoration: none; 
		font-weight:bold; 
		display:block; 
		padding:15px; 
		width:180px; 
		border-radius:30px
}

h1 {
	text-align: center;
  	font-family: 'Dosis', sans-serif;
  	font-size: 45px;
  	color: white;
}

h3 {
	text-align: center;
  	font-family: 'Dosis', sans-serif;
  	font-size: 30px;
  	color: #354d89;
}

p, a {
	background-color: #000000;
	font-family: 'Dosis', sans-serif;
	font-size: 18px;
	line-height: 1.5em;
}

header a {
  text-decoration: none;
  color: #000000;
  margin: 1.5em;
  display: inline-block;
}
