@import url(https://fonts.googleapis.com/css?family=Dosis);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;`
}


body {
  	background: #eeeeee;
}

#portada {
	background-image: url("../images/cro-portada-dibujo.jpg");
	background-size: cover;
  	margin: 0em;
  	padding: 3em 3em 3em 3em;
  	color: white;
  	text-align: center; 
  	height: 360px;
}

#portada p {
	background: rgba(15,37,43,0.4);
	font-family: 'Dosis', sans-serif;
	font-size: 22px;
	margin: none;
	padding: 1.5em 1.5em;
	position: center;
	font-size: 22px;

}

#portada span {
		opacity: 1;
}

#button {
	font-family: 'Dosis', sans-serif;
	font-size: 18px; 
	background-color: #354d89; 
	color: #FFFFFF; 
	text-decoration: none; 
	font-weight: bold; 
	display: inline-block; 
	padding: 1em 2em; 
	border-radius:30px;
}


#info {
	margin: 1em 0px 0px 0px;
}

#info section {
	width: 49%;
	float: left;
	margin: 0.5%;
	border-radius: 30px;
	padding: 2em;
}


#why{
	margin: 5em 5px 0px 0px;
	background-color: #ffb6e5;
	padding: 3em;
	float: none;
	border-radius:30px;
	clear: both;
}

#description {
	background-color: #fff7b9;
}	

#factors {
	background-color: #d3eaf3;
}

#process img {
	width: 25%;
	float: left;
	padding: 0.5em;
}

#proceso {
	padding: 10em;
}

h1 {
	text-align: center;
  	font-family: 'Dosis', sans-serif;
  	font-size: 45px;
  	color: white;
}

h2, h3 {
	text-align: center;
  	font-family: 'Dosis', sans-serif;
  	font-size: 30px;
  	color: #354d89;
}

p, a, li {
	font-family: 'Dosis', sans-serif;
	font-size: 18px;
	line-height: 1.5em;
}

header a {
	background-color: #354d89;
	text-decoration: none;
	color: #FFFFFF;
	margin: 1.5em;
	display: inline-block;
	padding: 1em;
}